<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sanity Suite">
    <!--parameter name="BaseURI" value="http://oshawa.laserfiche.com/BPM/API/a/ServiceContract/"/-->
    <parameter name="BaseURI" value="https://blockexplorer.com/api/"/>
    <parameter name="UserName" value="${uname}" />
    <parameter name="UserPass" value="${pwd}" />
    <test name="Sanity test">
        <classes>
            <!--class name="suites.users.BlockExplorer"-->
            <class name="suites.users.TransactionsByAccount">

                <!--methods>
                    <include name="getBlockHashByIndex"/>

                </methods-->
            </class>
        </classes>
    </test>
</suite>
